body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#todo-container{
    max-width: 90%;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    background-color: #fff;
    padding: 25px;
}

h2{
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

input, button, select{
    padding: 10px;
    border: none;
    outline: none;
}

#taskInput{
    width: 65%;
    border: 1px solid #ccc;
}

#addBtn{
    width: 65%;
    background-color: #4cafef;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 5px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin-left: 10px;

}

#addBtn:hover{
    background-color: #399cd6;
}

#filter, #search{
    width: 48%;
    margin-top: 10px;
    border: 1px solid #ddd;
}

ul{
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li{
    background-color: #fafafa;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    transition: transform 0.2s ease;

}

li:hover{
    transform: translateY(-3px);
}

li span{
    cursor: pointer;
    flex: 1;
}

li span.done{
    text-decoration: line-through;
    color: gray;
}

button.editBtn, button.deleteBtn{
    background-color: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 8px;
    transition: transform 0.2s;
}

button.editBtn:hover{
    color: #4cafef;
    transform: scale(1.2);

}
button.deleteBtn:hover{
    color: red;
    transform: scale(1.2);
}

/* Animation for new task */
li {
  background: #fafafa;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  transition: transform 0.2s ease, opacity 0.3s ease, max-height 0.3s ease;
  opacity: 0;
  transform: translateY(15px);
  max-height: 0;
  overflow: hidden;
}

li.show {
  opacity: 1;
  transform: translateY(0);
  max-height: 200px;
}

/* Delete animation */
li.removing {
  opacity: 0;
  transform: translateX(-50px);
  max-height: 0;
}
